<a href="https://colab.research.google.com/github/vikasgc09/Insurance/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline
import numpy as np

In [78]:
df = pd.read_csv('train.csv')

In [79]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [80]:
df = df.drop(['PassengerId','Name','Ticket','Cabin'], axis=1)

In [81]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
df_gender = pd.get_dummies(df['Sex'])
df_embarked = pd.get_dummies(df['Embarked'])

In [84]:
df_gender

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [85]:
df = df.join(df_gender)
df = df.join(df_embarked)

In [86]:
df = df.drop(['Sex','Embarked'], axis=1)

In [87]:
df

     Survived  Pclass   Age  SibSp  Parch     Fare  female  male  C  Q  S
0           0       3  22.0      1      0   7.2500       0     1  0  0  1
1           1       1  38.0      1      0  71.2833       1     0  1  0  0
2           1       3  26.0      0      0   7.9250       1     0  0  0  1
3           1       1  35.0      1      0  53.1000       1     0  0  0  1
4           0       3  35.0      0      0   8.0500       0     1  0  0  1
..        ...     ...   ...    ...    ...      ...     ...   ... .. .. ..
886         0       2  27.0      0      0  13.0000       0     1  0  0  1
887         1       1  19.0      0      0  30.0000       1     0  0  0  1
888         0       3   NaN      1      2  23.4500       1     0  0  0  1
889         1       1  26.0      0      0  30.0000       0     1  1  0  0
890         0       3  32.0      0      0   7.7500       0     1  0  1  0

[891 rows x 11 columns]

In [88]:
x_train, x_test , y_train , y_test = train_test_split(df[['Pclass','Age','SibSp','Parch','Fare','male','female','C','Q','S']],df.Survived, test_size = 0.2)

In [89]:
x_train

     Pclass   Age  SibSp  Parch      Fare  male  female  C  Q  S
495       3   NaN      0      0   14.4583     1       0  1  0  0
814       3  30.5      0      0    8.0500     1       0  0  0  1
730       1  29.0      0      0  211.3375     0       1  0  0  1
576       2  34.0      0      0   13.0000     0       1  0  0  1
299       1  50.0      0      1  247.5208     0       1  1  0  0
..      ...   ...    ...    ...       ...   ...     ... .. .. ..
28        3   NaN      0      0    7.8792     0       1  0  1  0
308       2  30.0      1      0   24.0000     1       0  1  0  0
119       3   2.0      4      2   31.2750     0       1  0  0  1
514       3  24.0      0      0    7.4958     1       0  0  0  1
61        1  38.0      0      0   80.0000     0       1  0  0  0

[712 rows x 10 columns]

y_train

In [90]:
y_train

495    0
814    0
730    1
576    1
299    1
      ..
28     1
308    0
119    0
514    0
61     1
Name: Survived, Length: 712, dtype: int64

In [91]:
x_train.fillna(999, inplace=True)
np.any(np.isnan(x_train))
np.all(np.isfinite(x_train))

True

In [92]:
x_train

     Pclass    Age  SibSp  Parch      Fare  male  female  C  Q  S
495       3  999.0      0      0   14.4583     1       0  1  0  0
814       3   30.5      0      0    8.0500     1       0  0  0  1
730       1   29.0      0      0  211.3375     0       1  0  0  1
576       2   34.0      0      0   13.0000     0       1  0  0  1
299       1   50.0      0      1  247.5208     0       1  1  0  0
..      ...    ...    ...    ...       ...   ...     ... .. .. ..
28        3  999.0      0      0    7.8792     0       1  0  1  0
308       2   30.0      1      0   24.0000     1       0  1  0  0
119       3    2.0      4      2   31.2750     0       1  0  0  1
514       3   24.0      0      0    7.4958     1       0  0  0  1
61        1   38.0      0      0   80.0000     0       1  0  0  0

[712 rows x 10 columns]

In [93]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
reg = DecisionTreeRegressor(random_state=0).fit(x_train, y_train)
reg.score(x_train, y_train)

0.9538910934744268

In [97]:
reg.predict([[1,29.0,	0,	0	,211.3375,	0,	1,	0,	0,	1]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([1.])